/*
CABECERA
*/

.header{
    display: flex;
    justify-content: space-around;  
    align-items: center;
    background-color: #1F2937;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    
}

a{
    text-decoration: none;
}

.logo-header{
    color: #F9FAF8;
    font-size: 24px;
}


.enlaces-contenedor{
    display: flex;
    gap: 20px;
}

.enlace-header{
    color: #bbbec3;
    font-size: 18px;
    
}

/*
PRIMERA SECCION

DUDAS acerca de como hacer que el espacio que queda
a ambos lados cunado uso justify-content en este contenedor
sea el mismo que en el header
tengo que hacer un contenedor para ambos? probablemente

dudas acerca de como poner el fondo del boton
dudas acerca de como hacer que queden mas alineados 
el texto de la izquierda con el de la derecha
que el tope del titulo y del padding del contenedor de la imagen sean el mismo

*/

.primera-seccion{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top:50px;
    background-color: #1F2937;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.titulo-primera-seccion{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.texto-primera-seccion{
    color: #bbbec3;
    font-size: 18px;
}

.boton-primera-seccion{
    color: #E5E7EB;
    font-size: 18px;
    background-color: blue;
    size: 10px
}

.imagen-derecha-primera-seccion{
    color: #E5E7EB;
    font-size: 18px;
    background-color: grey;
    padding:100px;
}

/*
SEGUNDA SECCION
*/

/*
TERCERA SECCION
*/

/*
CUARTA SECCION
*/

/*
PIE
*/

.pie{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.texto-pie{
    color: #bbbec3;
    font-size: 18px;
}
